.message-item .sender{
    font-size: 12px;
}

.message-item .message-cotent{
   padding: 4px;
   border-radius: 3px;
   display: inline-block;
   max-width: 40%;
}

.my-message{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.my-message .message-content{
    background-color: blue;
    color: azure;
}

.other-message .message-content{
    background-color: #e9e9e9;
    color: black;
}